@model KEA.BA.Project.Models.Citizen

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Citizen</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.citzen_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.citzen_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City.city_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City.city_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CPR }) |
    @Html.ActionLink("Back to List", "Index")
</p>
