@model IEnumerable<KEA.BA.Project.Models.Citizen_group>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Citizen.citzen_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Citizen.citzen_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.shopping_group_ID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.citizen_CPR }) |
            @Html.ActionLink("Details", "Details", new { id=item.citizen_CPR }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.citizen_CPR })
        </td>
    </tr>
}

</table>
